/CadastroClienteAPI/Core/bin
/CadastroClienteAPI/Core/obj
/CadastroClienteAPI/Service/bin
/CadastroClienteAPI/Service/obj
/CadastroClienteAPI/.vs
/CadastroClienteAPI/CadastroClienteAPI/bin
/CadastroClienteAPI/CadastroClienteAPI/obj
*.dll
/CadastroClienteAPI/CadastroClienteFront/obj/Debug/net6.0
