<!-- Views/Account/Login.cshtml -->
@model CadastroClienteWeb.Model.LoginViewModel
<form asp-action="Login" method="post">
    <div>
        <label for="Email">Email</label>
        <input type="text" id="Email" name="Email" required />
    </div>
    <div>
        <label for="Senha">Senha</label>
        <input type="text" id="password" name="Senha" required />
    </div>
    <button type="submit">Login</button>
</form>
